.apartment-condo h2 {
    font-family: "AmplitudeTF";
    font-weight: 500;
    font-size: 25px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #59abe3;
    background: #fff;
    position: relative;
}


.apartment-condo p {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 150%;
}

.apartment-condo ul {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 150%;
}

.apartment-condo ol {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 100;
    line-height: 150%;
}

.apartment-condo li {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 100;
    line-height: 150%;
}
