#moving-storage {
    font-family: "PT Sans", sans-serif;
    color: #59abe3;
}

#moving-storage ol {
    color: black;
}

#moving-storage p {
    color: black;
    font-family: "PT Sans", sans-serif;
}
